
/*********************************************************************************/
/* Skateboard style                                                              */
/*********************************************************************************/

.skate
{
	background-image: url("../images/skateboard/skateboard_croped_high_res.jpg");
	background-color: #cecdc8;
	
}

.skate-blur
{
	background-color: #cecdc8cc;
}
.skate-title
{
	color: #333639;
}

.skate-underline
{
	background-color: #333639;
}

.skate-item
{
	color: #46a356;
}

.skate-item::before
{
	content: "skateboard";
}