
body
{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	display: block;
	height: 1024px;
	min-width: 1024px;
	overflow: hidden;
}

/*********************************************************************************/
/* Fonts                                                                         */
/*********************************************************************************/

@font-face {
	font-family: Avenir;
	src: local(Avenir), url(../fonts/Avenir.ttc) format('opentype');
}

/*********************************************************************************/
/* Background style                                                              */
/*********************************************************************************/

.background
{
	top: 0px;
	width: 100%;
	min-width: 1024px;
	height: 275px;
	z-index: 1;
	display: inline-block;
	position: absolute;
	background-position: center center;
	background-repeat: repeat-x;
	transition: left 1s ease-in-out;
}

.background p
{
	top: 130px;
	position: absolute;
	display: inline-block;
	margin: 0px;
	font-family: "Avenir black", "Avenir-Black", sans-serif;
	font-weight: 800;
	font-size: 72px;
}

.backgroundspacer
{
	height: 275px;
	display: inline-block;
}

.blurcontainer
{
	height: 100%;
	width: 0px;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header
{
	top: 0px;
	width: 100%;
	min-width: 1024px;
	height: 275px;
	z-index: 5;
	position: absolute;
	background-color: rgba(217, 217, 217, 0.4);
	border-width: 1px;
	border-color: #333839;
	box-shadow: 0px 2px 4px black;
	
}

#dheaderContents
{
	height: 100%;
	width: 80%;
	min-width: 920px;
	display: inline-flex;
}

#dTitleContainer
{
	top: 0px;
	margin: 0px;
	display: inline-flex;
	height: 235px;
	min-width: 420px;
	max-width: 675px;
	width: 420px;
	
}

#lTitle
{
	top: 0px;
	margin: 0px;
	display: inline-flex;
	height: inherit;
	font-family: "Avenir Black", "Avenir-Black", sans-serif;
	font-weight: 800;
	font-size: 72px;
	transition: color 1s ease-in-out;
}

#dLineContainer
{
	top: 0px;
	margin: 0px 0px 0px 25px;
	height: 235px;
	min-width: 375px;
	max-width: 45%;
	width: 600px;
	display: inline-flex;
}

#dUnderline
{
	margin-top: 205px;
	height: 3px;
	min-width: inherit;
	width: inherit;
	display: inline-flex;
	background-color: black;
	transition: color 1s ease-in-out;
}

.flex-margin
{
	height: 100%;
	margin: 0px;
	min-width: 50px;
	width: 5%;
}